service: jobping
useDotenv: true

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1
  stage: prod
  environment:
    NODE_ENV: production
    MONGODB_URI: ${env:MONGODB_URI, ''}
    GOOGLE_CLIENT_ID: ${env:GOOGLE_CLIENT_ID, ''}
    GOOGLE_CLIENT_SECRET: ${env:GOOGLE_CLIENT_SECRET, ''}
    SESSION_SECRET: ${env:SESSION_SECRET, 'default_secret'}
    CLIENT_URL: ${env:CLIENT_URL, 'http://localhost:3000'}

functions:
  api:
    name: jobping
    handler: index.handler
    events:
      - http:
          path: /
          method: any
          cors: true
      - http:
          path: /{proxy+}
          method: any
          cors: true

plugins:
  - serverless-offline
  - serverless-dotenv-plugin

package:
  patterns:
    - "!test/**"
    - "!.git/**"
    - "!node_modules/.bin/**"
